
body{
    background-color: #9bcdd2;
}
.Convert {
    text-align: center;
    font-size: 20px;
}
.intro {
    text-align: center;
}
.Celper{
    text-align: center;
}
.per{ 
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: bold;
}
.two{
margin-bottom: 0px;
font-size: 20px;
 font-weight: bold;
}
.Fahtwo{
    text-align: center;
}

.Sbesar {
    font-size: 30px;
    font-family: italic;

}
button{
   border-radius: 5px;
   font-size: 15px;
   padding: 5px;
   border: none;
   background-color: white;
   transition-duration: 0.4s;
   cursor:pointer;
}
#konversi:hover{
    background-color: green;
    color: white;
}
#reset:hover{
    background-color: red;
    color: white;
}
#reverse:hover{
    background-color: gray;
    color: white;
}
